## Connect with the Python Driver
- Install the DataStax Python Driver

- Verify that the DataStax Python driver installed successfully:

In [40]:
import pandas as pd
import cassandra
print(cassandra.__version__)

3.29.0

In [33]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

# This secure connect bundle is autogenerated when you download your SCB, 
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-hasham-akram-db.zip'
}

# This token JSON file is autogenerated when you download your token, 
# if yours is different update the file name below
with open("Hasham-Akram-db-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

In [41]:
# query = "SELECT * FROM hash_keyspace.\"ENB2012_data\";"
query = "SELECT * FROM hash_keyspace.ee_data;"

df = pd.DataFrame(list(session.execute(query)))
df.shape

(657, 10)

In [39]:
df.head()

     X1     Y1      X2      X3      X4    X5  X6    X7  X8     Y2
0  0.79  28.52  637.00  343.00  147.00  7.00   2  0.00   0  37.73
1  0.79  28.75  637.00  343.00  147.00  7.00   5  0.00   0  39.44
2  0.79  29.63  637.00  343.00  147.00  7.00   4  0.00   0  30.93
3  0.79  29.90  637.00  343.00  147.00  7.00   3  0.00   0  31.27
4  0.79  35.45  637.00  343.00  147.00  7.00   4  0.10   4  41.86

In [ ]:
import os
import cassandra
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd
# Access credentials securely:
cloud_config = {
    'secure_connect_bundle': os.environ.get('CLOUD_CONFIG_BUNDLE'),
}
client_id = os.environ.get('CLIENT_ID')
client_secret = os.environ.get('CLIENT_SECRET')
# Create authentication provider:
auth_provider = PlainTextAuthProvider(client_id, client_secret)
# Connect to Cassandra:
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()